* {
  box-sizing: border-box;
}
// -------------------------------------- flex
@mixin flexCol( $jc, $ai ) {
    display: flex;
    flex-direction: column;
    justify-content: $jc;
    align-items: $ai;
}

@mixin flexRow( $jc, $ai ) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}
// -------------------------------------- flex

// -------------------------------------- font
@font-face {
    font-family: 'Montserrat';
    src: url('~/src/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@mixin font2( $size ) {
    font-family: Montserrat;
    font-size: $size;
}
// -------------------------------------- font

// -------------------------------------- other
@mixin btn( $size ) {
    @include flexRow( center, center );
    @include font2( 13px );
    height: 30px;
    margin: 0px 4px;
    width: calc( 10px * $size );
    border: $main-border1-hover;
    border-radius: $main-border-radius;
    outline: none;
    color: $main-color;
}

// -------------------------------------- other

// -------------------------------------- color
$main-color: #233953e6;
$main-white: #ffffff;
$main-line-color: #a0b1c9e6;
$main-line-hover-color: #0c2950e6;
$main-hover: #517dac80;
$main-op-text: #07213d80;
$main-red: #bb0e0e;
$main-thin: #B0B0B0;
// -------------------------------------- color

// -------------------------------------- border
$main-border1: 1px solid $main-line-color;
$main-border1-hover: 1px solid $main-line-hover-color;
$main-border-radius: 4px;
// -------------------------------------- border

// -------------------------------------- custom
$main-shadow: 0px 0px 2px 1px $main-hover;
// -------------------------------------- custom

